<ion-view title="A Empresa" id="page3">
    <ion-content padding="true" class="has-header">
        <h3 id="aEmpresa-heading4" style="color:#0F1E8A;">Etec Dra Ruth Cardoso- São Vicente</h3>
        <div class="spacer" style="width: 283px; height: 25px;"></div>
        <div>
            <img src="img/sv704iXFRtiUDfdF69bo_school-building_23-2147521232.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 40px;"></div>
        <h5 id="aEmpresa-heading5" style="color:#000000;font-weight:600;">“MISSÃO DA ETEC “DOUTORA RUTH CARDOSO”</h5>
        <div id="aEmpresa-markdown3" style="color:#222121;text-align:justify;">
            <p>Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 32px;"></div>
        <h5 id="aEmpresa-heading6" style="color:#000000;">“VISÃO DA ETEC “DOUTORA RUTH CARDOSO”</h5>
        <div class="spacer" style="width: 283px; height: 6px;"></div>
        <div id="aEmpresa-markdown4" style="color:#000000;text-align:justify;">
            <p>Ser uma Etec reconhecida na região pelos padrões de qualidade no oferecimento da Educação Básica (Ensino Médio) e Educação Profissional, articulada com o mercado de trabalho para diminuir a distância entre a escola e a empregabilidade.</p>
        </div>
    </ion-content>
</ion-view>