<ion-view title="Contato" id="page4">
    <ion-content padding="true" class="has-header">
        <h3 id="contato-heading7" style="color:#000000;">Contato:</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Telefone</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Mensagem</span>
                <input type="text" placeholder="">
            </label>
            <a href="mailto:" id="contato-button2" class="button button-positive  button-block">Enviar</a>
        </form>
        <div id="contato-markdown5" style="color:#000000;">
            <p>Telefone : (13) 3467-2955</p>

            <p>Endereço : Praça Coronel Lopes, 387 São Vicente, SP</p>
        </div>
    </ion-content>
</ion-view>