<ion-view title="Início" id="page1" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <h2 id="inCio-heading1" style="color:#040752;text-align:center;">Você conhece o curso Tabajara?</h2>
        <div>
            <img src="img/dQSK0k3RcaLMDizqX7Yw_8-Dicas-Importantes-para-os-Desenvolvedores-de-Aplicativos-05.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 40px;"></div>
        <div id="inCio-markdown1" style="color:#464242;font-size:17px;text-align:justify;">
            <p>Aprenda a explorar os diversos recursos da tecnologia e mantenha-se atualizado com o dinâmico mundo da informática. Com os cursos presenciais e a distância do Centro Paula Souza, você aumenta suas chances no mercado de trabalho. Por meio do
                curso Informática Tabajara você terá a oportunidade de conhecer o que tem de mais recente em termos de plataformas híbridas.</p>
        </div>
    </ion-content>
</ion-view>